# Environnements virtuels
.venv/
venv/
env/

# Données locales (mais pas src/data/)
/data/
!data/.gitkeep
!data/*/README.md
!data/examples/*.csv

# Cache et temporaires
__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.log

# Configs locales
.env
.DS_Store

# Fichiers système ou IDE
.vscode/
.idea/
*.code-workspace

# Résultats de modèles (mais pas src/models/)
/models/
!models/README.md
reports/figures/
