[tool.black]
line-length = 100
target-version = ["py311"]

[tool.isort]
profile = "black"
line_length = 100
multi_line_output = 3
include_trailing_comma = true

[tool.flake8]
max-line-length = 100
extend-ignore = [
  "E203",  # compatible avec Black sur les slices
  "W503"   # line break before binary operator
]
exclude = [
  ".venv", "data", "models", "__pycache__", ".ipynb_checkpoints"
]

[tool.pytest.ini_options]
minversion = "8.0"
addopts = "-q"
testpaths = ["tests"]
